fastapi
uvicorn
sqlalchemy
pytest
pytest-asyncio
httpx
python-multipart
passlib[argon2]
pydantic
bleach
email-validator
slowapi
alembic
python-dotenv
psycopg2-binary
python-jose
python-jose[cryptography]
bcrypt
cryptography